.blogSambler{
    text-align: center;
    background: #F9E2DA;
    height: 100%;
    width: 100%;
    font-family: 'Maven Pro';
    font-style: normal;
    color: #F05334;
}
.blogSamblerContent{
    display: flex;
}
.blogSamblerText{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
    text-align: left;
    width: 510px;
}
.blogSamblerTextFruits{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 50px;
    text-align: center;
}
.peachy{
    width: 500px;
    height: 790px;;
    margin-right: 40px;
    margin-bottom: 50px;
}
.girls{
    width: 279px;
    height: 309px;
    padding-right: 20px;
}