* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 120px;
    background: #FDC0AA;
    font-family: 'Maven Pro';
    font-style: normal;
}
.container {
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.pagelist {
    list-style-type: none;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    margin-right: 264px;
}
.logo{
    margin-right: 260px; 
}

header a{
    text-decoration: none;
    color: #F05334;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    border-radius: 30px;
    height: 50px;
}
li a:hover {
    background: #F05334;
    color: #fff;
}
.clearButton{
    border: none;
    background: none;
    cursor: pointer;
}
.total{
    font-size: 20px;
    padding-bottom: 32px;
    font-weight: 600;
}
header h2{
    color: #F05334;
    margin-right: 10px;
}
