.olipop {
    width: 100%;
    background: #F2DB99;
    color: #F05334;
    font-family: 'Maven Pro';
    font-style: normal;
}
.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
    display: flex;
}
.olipopText h2{
    width: 644px;
    height: 226px;
    font-weight: 700;
    font-size: 96px;
    line-height: 113px;
    margin-bottom: 40px;
}
.olipopText h5{
    width: 664px;
    height: 120px;
    font-weight: 500;
    font-size: 35px;
    line-height: 60px;
    margin-bottom: 40px;
}
.olbottle {
    width: 610.08px;
    height: 806.33px;
}
.seller{
    position: absolute;
    width: 249.52px;
    height: 249.52px;
    right: -78px;
}
.olipopBottle{
    position: relative;
}