.cart{
    width: 100%;
    min-height: 1060px;
    max-height: 1750px;
    height: 100%;
    color: #F05334;
    font-family: 'Maven Pro';
    font-style: normal;
    background: #F2DB99;
}
.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
}
.titleCart{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 50px;
}
.cart h5{
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: right;
    margin-bottom: 55px;
}

.nameTable{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    text-align: center;
    border-bottom: 2px solid #f05334;
    margin-bottom: 20px;
    height: 52px;
}
.nameTable h3{
    font-size: 40px;
    font-weight: 500;
}
.cart form{
    padding: 20px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 52% 25% 23%;
    align-items: center;
}
span img {
    width:100px;
    margin-right: 67px;
    margin-left: 69px;
}

.cart span {
    display: flex;
    align-items: center;
    width: 100%;
}
.price{
    width: 100%;
    text-align: center;
}